* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {max-width: fit-content;
  background-color: rgb(89, 158, 169);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid darkblue;
}
ul,
li {
  list-style-type: none;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.breed-select {
  margin: auto;
  max-width: 200px;
  margin: 100px 450px;
}

.loader{
  /* display: none; */
  max-width: fit-content;
  margin: auto;
  text-align: start;
  font-size: 24px;
  font-weight: 400;
  /* justify-content: space-between; */
  /* border: 1px solid rgb(41, 41, 41,0.5) */
}
.error {
  display: none;
  max-width: 250px;
  margin: auto;
  text-align: center;
}

.cat-info {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(192, 224, 214);
  /* border: 1px solid darkblue; */
  gap: 30px;
  flex-wrap: wrap;
}

.box-img {
  display: flex;
  align-items: center;
}

.box {
  width: 500px;
}

/* ******************video*************** */
body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

        body {
            margin: 0;
            overflow: hidden; /* чтобы видео полностью занимало весь экран */
        }

        video {
          opacity: 0.5;
            object-fit: cover; /* чтобы видео занимало всю площадь */
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1; /* чтобы видео было за содержимым body */
        }
   