*{
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul, li {
      list-style-type: none;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.breed-select{
  max-width: 300px;
  margin:  100px 450px;
  
}

.loader,
.error{
  display: none;
   max-width: 250px;
margin: 30px;
text-align: center;
}

.cat-info{
margin-top: 20px;
padding: 20px;display: flex;
justify-content:center;
background-color: aquamarine;
border: 1px solid darkblue;
}

.box-img{
  display: flex;
  align-items: center;
}

.box{
  width: 500px;
}