* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(192, 224, 214);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid darkblue;
}
ul,
li {
  list-style-type: none;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.breed-select {
  margin: auto;
  max-width: 200px;
  margin: 100px 450px;
}

.loader{
  /* display: none; */
  max-width: fit-content;
  margin: auto;
  text-align: start;
  font-size: 24px;
  font-weight: 400;
  /* justify-content: space-between; */
  /* border: 1px solid rgb(41, 41, 41,0.5) */
}
.error {
  display: none;
  max-width: 250px;
  margin: auto;
  text-align: center;
}

.cat-info {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(192, 224, 214);
  /* border: 1px solid darkblue; */
  gap: 30px;
  flex-wrap: wrap;
}

.box-img {
  display: flex;
  align-items: center;
}

.box {
  width: 500px;
}
